.icon {
  width: 50px;
}

header p{
    margin: 0;
}

.s-main-display{
  width: 150px;
  height: 150px;
}

.s-other-display{
  width: 50px;
  height: 50px;
}

.bg-color-gray{
  background-color: #D9D9D9;
}

.gallery{

}

.title{

}

.lookingfor{

}

.collab{

}

.proyect-article{
  gap: 20px;
  text-align: center;
}

body{
  background-color: #666666;
}